# directories
data/
doc/
*old*
*backup*/
*archive*
*test*
!utils/data
src/
results

# Byte-compiled / optimized / DLL files
*.egg-info
__pycache__/
*.py[cod]
*.egg*
.DS_Store
.python-version

# Jupyter Notebook
.ipynb_checkpoints
notebooks/

# Environments
venv

# Git
.gitignore
!.keep

# Extensions
*.logs
*.pyc
*.log
*.sh
*.tar
*.zip
*.tar
*.sublime*
*.swp
*.out
*.old
*.idea
*.bak
*.npy
*.txt
